# Created by .ignore support plugin (hsz.mobi)
docker/volumes
docker/images
bin
venv
.venv
.env.example
.gitignore
/docker-compose.*.yml
/docker-compose.yml
/keys
/nets
# Wallet Data
parity/wallet
parity/sandbox/keys

