# TATAU
TATAU_DEBUG=False
TATAU_RAVEN_DSN=
TATAU_DBD_HOST=bigchaindb

TATAU_MONGO_DB_HOST=mongodb
TATAU_MONGO_DB_PORT=27017

TATAU_IPFS_HOST=ipfs
TATAU_IPFS_PORT=5001

GPU_TFLOPS=10000
CPU_TFLOPS=1000

RING=.demo

